# This .gitignore is appropriate for repositories deployed to GitHub Pages 
# Specific ignore for any user or change file back 
# GitHub Pages will always use its own deployed version of own repo
# This means GitHub Pages or any user can not edit 
# counterproductive to prevent this file into the repository.
# Details at https://github.com/github/action
